{
    "$schema": "https://json.schemastore.org/prettierrc",
    "printWidth": 100,
    "tabWidth": 4,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss",
        "prettier-plugin-svelte"
    ],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
    "importOrder": ["^core-js/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderSortSpecifiers": true,
    "tailwindAttributes": [
        "appear-active-class",
        "appear-from-class",
        "appear-to-class",
        "enter-active-class",
        "enter-from-class",
        "enter-to-class",
        "leave-active-class",
        "leave-from-class",
        "leave-to-class",
        "move-class"
    ]
}
